h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
}

#map {
  min-height: 300px;
}

.hide-post-header, .hide-pre-header, .hide-footer-menu {
  display: none;
}

.show-post-header, .show-pre-header, .show-footer-menu {
  display: static;
}

.scrolloff {
  pointer-events: none;
}

.off{
	display: none;
}
.wrap.sticky-template{
	margin-top: 0;
}

a:hover{
  //text-align: inherit!important;
}
.mobile {
  display: none;

}
.desktop {
  display: block;
}
@media (max-width: 767px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
