.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	@extend	.btn;
	@extend .btn-default;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	@extend .btn-primary;
}

.woocommerce .woocommerce-error {
	@extend .alert;
	@extend .alert-warning;
}

.woocommerce .woocommerce-info {
	@extend .alert;
	@extend .alert-info;
}

.woocommerce .woocommerce-message {
	@extend .alert;
	@extend .alert-success;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price {
	color: inherit;
	font-size: inherit;
}

.woocommerce .woocommerce-message::before {
	color: inherit;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after  {
  display: none;
}
