
#employees-carousel {
    .carousel-control.left i, .carousel-control.right i {
      color: white;
      text-align: center;
      margin-top: 0;
      font-size: 130px;
      opacity: .8;
      border: 0!important;
      text-shadow: none;
  }
  .carousel-control.left{
    left: -30px;
border: 0!important;
    top: 69px!important;
  }
  .carousel-control.left:hover{
    left: -30px;
    border: 0!important;
    top: 69px!important;
  }
  .carousel-control.right{
    right: -30px;
    border: 0!important;
    top: 69px!important;
  }
  .carousel-control.right:hover{
    left: -30px;
    border: 0!important;
    top: 69px!important;
  }
}

.employee-img{
  width: 265px;
height: 315px;
text-align: center;
margin: 0 auto;
}
.employee-photo{
  position: relative;
  width: 100%;
  //height: 100%;
}
.employee-name h4, .employee-position h5 {
  text-align: center;
}
.carousel-wrap {
     overflow: visible;
     display: block;
     position: relative;
  }
  .carousel-inner, .carousel {
      //overflow: visible!important;
    }

@media (max-width: 767px) {
    .carousel-control.left, .carousel-control.right {
    top: 403px!important;
  }
  .carousel-control.left{
    left: 57px;
  }
  .carousel-control.right{
    right: 57px;
  }
  #testimonials-carousel {
    padding: 0;
}
.employee-img {
  margin: 0 26px;
}

}
