.navbar-default {
  z-index: 999;
}
.navbar>.container .navbar-brand{
  margin-left: 0!important;
}

.banner .container {
  position: relative;
}

.logo-center, .navbar-center {
  float: none!important;
   position: relative;
   text-align: center;
   ul{
      display: inline-block;
   }
}

.navbar-center {
  float: left;
}

.navbar-right .navbar-brand {
   margin-right: -15px;
   margin-left: 0;
   width: 100%;
 }
.navbar-nav {
  float: none!important;
}
.navbar > .container-fluid .navbar-brand .branding-center, .navbar > .container .navbar-brand .branding-center {
  margin-left: 0;
}

.navbar {
  margin-bottom: 0!important;
}
.navbar-brand img.desktop-logo {
  //position: absolute;
  position: relative;
  margin: 0 auto;
}

.centered-logo{
  .navbar-brand img.sticky-logo{
    position: relative;
    //top: 0;
    margin: 0 auto;
  }
}
.whisk-navbar-left{
  .navbar-brand img.sticky-logo{
    position: absolute;
    top: 0;
    margin: 0 auto;
  }
}
.whisk-navbar-right{
  .navbar-brand img.sticky-logo{
    position: absolute;
    top: 0;
    margin: 0 auto;
  }
}

.navbar-brand, .navbar-nav li a {
  padding-top: 0;
  font-size: 18px;
  padding-bottom: 0;
  transition: ease-in-out 0.4s;
}
.sticky .navbar-nav li a {
  padding-top: 0;
  font-size: 18px;
  padding-bottom: 0;
  transition: ease-in-out 0.4s;
}

.navbar-default{
  transition: opacity 0.4s linear, height 0.4s linear, background-color 0.3s linear, color 0.4s linear;
}
.no-border {
  border: none;
}
.sticky-logo{
  opacity: 0;
  transition: opacity 0.2s linear; /* -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; */
}
.desktop-logo{
  opacity: 1;
 transition: opacity 0.4s linear; /* -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; */
}
.sticky{
  transition: opacity 0.4s linear, height 0.4s linear, background-color 0.4s linear, color 0.4s linear; /* -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; */
  .desktop-logo{
    opacity: 0;
   transition: opacity 0.6s linear; /* -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; */
  }
  .sticky-logo{
    opacity: 1;
  transition: opacity 0.4s linear; /* -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out;*/
  }
}
.dropdown:hover .dropdown-toggle, .dropdown-toggle:hover { cursor: default; }

.open>.dropdown-menu {  display: none!important; }
.dropdown-menu {
  width: 100%;
}
.branding-center .dropdown-menu{
  li{
    width: 100%;
    a{
      width: 100%;
    }
  }
}
.dropdown-menu {
  border: none;
  box-shadow: none;
      padding: 0;
      li{
      padding: 0!important;
      }
}
.navbar-default .navbar-nav>.open>a { background-color: transparent!important; color: inherit; }

.mobile-logo {
  display: none;
  opacity: 0;
}
  .navbar-default.sticky{
    z-index: 10;
  }

  .navbar .navbar-collapse {
      //text-align: center;
  }

  .whisk-navbar-left {
      .navbar-collapse {
          float: right!important;
      }
  }

.whisk-navbar-right{
    .navbar-collapse {
        float: left;
    }
    .navbar-header {
      float: right;
    }
}

.branding-center {
  text-align: center;
  width: 100%;
  ul{
    height: 100%;
    padding-left: 0;
    li{
        display: inline-block;
        list-style-type: none;
        position: relative;
        padding: 0px 5px;
    }
  }
  .centered-logo{
    vertical-align: top;
    //display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    //display: inline;
  }
  .inner-logo{
    margin: 0 auto;
    text-align: center;
    //width: 350px;
    height: 100%;
  }
  .navbar-brand{
      //float: left;
      //padding-left: 0;
      //margin-left: 0!important;
      position: relative;
      margin: 0 auto;
      float: none;
      padding: 0;
    }
    .navbar>.container .navbar-brand{
      margin-left: 0!important;
    }
  .navbar-nav, .navbar-nav>li {
    /* float: none!important; */
  }
  .nav-left {
    float: left!important;
  }
  .nav-right{
    float: right!important;
  }
}

.navbar-nav{
  //float: none!important;
}
.navbar-brand img{
  //left: 0;
}
.sub-menu{
  display: none;
}

.mobile{
  display: none;
}
.desktop-header{
  position: absolute;
  width: 100%;
  top: 0;
}

.desktop{
  display: block;
   .navbar-default{
     width: 100%;
   }
   .navbar-static-top .whisk-navbar-left{
     float: none!important;
   }
   .inner-logo{
     max-width: 400px;
   }
}

.icon-bar{
  position: relative;
  transition: ease-in-out 0.4s;
}

.mobile .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  transform: rotate3d(0,0,1,45deg);
  top: 6px;
  transition: ease-in-out 0.4s;
}
.mobile .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(3) {
opacity: 0;
//transition: ease-in-out 0.4s;
}
.mobile .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(4) {
  transform: rotate3d(0,0,1,-45deg);
  top: -6px;
  transition: ease-in-out 0.4s;
}
.active{
  background-color: inherit;
}
.dropdown-menu li {
  width: 100%;
}
.mobile .navbar-collapse.collapse {
  //margin: 0 -15px;
  margin: 0;
  padding: 0;
    .navbar-nav {
      margin: 0;
    }
}

.navbar-collapse.collapsing .navbar-nav {
  padding-left: 0;
}
.navbar-collapse{
  padding: 0!important;
}
@media (max-width: 991px){
  .container-fluid>.navbar-collapse{
    margin: 0;
  }

  /*.branding-center{
    nav.mobile{
      display: block!important;
    }
    nav.desktop{
      display: none!important;
    }
  }*/
  .navbar-nav, .navbar-collapse {
    margin: 0;
  }

.container-fluid>.navbar-header{
  margin-right: -15px;
  margin-left: -15px;
  padding: 0 15px;
}
  .navbar-toggle {
    display: block;
  }
  .desktop{
  display: none;
  }
  .mobile{
    display: block;
    .navbar-header{
        //width: 100%;
        float: none!important;
    }
    .navbar-brand img{
      display: block;
    }
    .navbar-collapse.collapse{
      display: none!important;
      //float: left;
      //width: 100%;
    }
    .navbar-collapse.collapse.in{
      display: block!important;
    }
    .mobile-logo {
      opacity: 1;
      max-height: 50px;
    }
    .navbar-nav{
      width: 100%;
      float: left;
      li {
        float: none!important;
      }
      li a{
        //line-height: 40px!important;
      }
    }
    .navbar-default .navbar-nav>.active>a{
      background-color: inherit;
    }
}

}
@media (max-width: 767px) {
  .container-fluid>.navbar-header{
    margin-right: -15px;
    margin-left: -15px;
    padding: 0;
  }

  .navbar-collapse {
    .nav>li {
      display: block;
    }
    ul li {
      display: inline-block;
    }
  }
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  .desktop-logo, .sticky-logo {
    display: none;
    opacity: 0;
  }
  .mobile-logo {
    display: block;
    opacity: 1;
  }
  .mobile.navbar-brand img{
    max-height: 50px;
  }
} // 767px
