.our-work-hover {

  //padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  img {
  	 width: 100%!important;
  }
}

.col-md-4.our-work-hover {
    //width: 31%;
}

.image-overlay { background-color: rgba(74, 167, 218, 0.8) !important;  transition: all 0.4s ease; opacity: 0;  position: absolute; top: 0; left: 0; height: 100%; width: 100%; transition: all 0.4s ease;  animation: fadeout 2s; z-index: 0; }
.our-work-info { position: absolute; opacity: 0; position: absolute; top: 0; left: 0; height: 100%; width: 100%;  color: white; padding: 10px 40px; transition: all 0.4s ease; }
.our-work-info p, .our-work-info h3 {color: white; text-transform: uppercase; font-size: 25px!important; margin-bottom: 0px; }
.our-work-info h3 { font-family: 'museo_sans900', Arial, sans-serif; }
.our-work-hover:hover .image-overlay, .our-work-hover:hover .our-work-info { opacity: 1;  animation: fadein 2s; }

.col-md-4.our-work-hover.full { width: 33.3333333333%; /* margin: 0; padding: 0; */ }

.portfolio-img, .pdf-thumb-box img { width: 100%!important; }

.full {  margin: 0; padding: 0; }


.pdf-thumb-box
{
display: inline-block;
position: relative;
overflow: hidden;
margin-top: 15px;
margin-bottom: 15px;
}

.full .pdf-thumb-box {
   display: block;
    margin: 0; padding: 0;
  }

.pdf-thumb-box-overlay {
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.2s, opacity 0.2s linear;
}
.pdf-thumb-box a{
    color:transparent;
}
.pdf-thumb-box a:hover .pdf-thumb-box-overlay, .pdf-thumb-box:hover .pdf-thumb-box-overlay {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
    text-align:center;
    position: absolute;
    background-color: rgba(74, 167, 218, 0.8);
    color: #fff;
    width:100%;
    height:100%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.pdf-thumb-box-overlay span {
margin: auto;
position: absolute;
top: 20px; left: 20px;
font-size: 30px;
}

.overlay-title { }
