.testimonial-img {     position: relative;
    height: 50px;
    width: 50px; }
#testimonials-carousel {
      padding: 50px 126px;
      min-height: 300px;
  .testimonials-img-holder{
    width: 100%;
    text-align: center;
  }
}
.testimonial-content {     margin-top: 20px;
    text-align: center; }
.testimonials-img-holder {
      img{
        position: relative;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        border-radius: 50px;
      }
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 48px;
  }
.carousel-control.left, .carousel-control.right {
    background-image: none!important;
    height: 80px!important;
    width: 80px!important;
    position: absolute!important;
    top: 160px!important;
    border: solid 1px grey!important;
    border-radius: 50px!important;
    svg {
          height: 25px;
          margin-top: 14px;
    }
    i {
      color: grey;
      margin: 23px 33px;
      position: relative;
      font-size: 31px;
      opacity: .8;
    }
}
.carousel-control.left:hover, .carousel-control.right:hover {
          i {
            margin: 23px 33px;
            position: relative;
       }
}
.testimonial-company, .testimonial-name{
  text-align: center;
  h4{
    text-align: center;
    margin-top: 25px;
  }
  p{
    font-weight: 100;
  }
}
